@import "tailwindcss";

@plugin "daisyui" {
   themes: light --default;
 }


.linear-bg {
  @apply bg-gradient-to-br from-[#632EE3] to-[#9F62F2];
}

.linear-bg-process {
  @apply bg-gradient-to-br from-[#632EE3] via-[#9F62F2] to-[#A156F6];
}

.gradient-text {
  @apply bg-gradient-to-br from-[#632EE3] via-[#9F62F2] to-[#9D58F6] bg-clip-text text-transparent;
}

.text-primary {
  @apply text-[#909EB2]
}

.btn-primary {
  @apply linear-bg text-white text-2xl py-3 px-6 font-bold rounded-4xl
}